.part1 h1{
    margin-top: 80px;
    text-align: center;
    font-size: 45px;
    font-family: 'Serif';
}

.card-group{
    margin-top: 50px;
}

.part2 h1{
    margin-top: 80px;
    text-align: center;
    font-size: 45px;
    font-family: 'Serif';
}